@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #afaeae
  opacity: 1

*:-moz-placeholder
  color: #afaeae
  opacity: 1



*::-moz-placeholder
  color: #afaeae
  opacity: 1

*:-ms-input-placeholder
  color: #afaeae
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 24px
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  color: #000

a, a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

.img-responsive
  display: block
  max-width: 100%
  height: auto

a, input, textarea, button
  outline: none

.intro-slider, .objects-slider
  position: relative
  .slick-next, .slick-prev
    position: absolute
    background-color: #fff
    background-size: 25px 45px
    background-repeat: no-repeat
    background-position: center center
    opacity: .4
    box-shadow: none
    border: none
    +mt(.3s)
    width: 66px
    height: 114px
    top: calc(50% - 57px)
    z-index: 2
    &:hover
      opacity: .6
  .slick-prev
    left: 0
    background-image: url('../img/icons/arrow-left.png')
  .slick-next
    right: 0
    background-image: url('../img/icons/arrow-right.png')
  .intro-content
    display: none

.intro-item
  height: 265px


.tab-panel
  display: none
.tab-panel.active
  display: block

h1
  font-weight: 500
  font-size: 36px
  line-height: 1.2
  text-transform: uppercase
  color: $accent-blue

h2
  font-size: 24px
  font-family: "PFDinTextPro", sans-serif
  font-weight: 500
  text-transform: uppercase
  color: $accent-blue
  margin-bottom: 20px

h3
  font-size: 30px
  font-weight: normal

.page-section-wrap
  padding: 10px 30px 50px

.notice-block
  margin: 20px 0
  display: none
  &.active
    display: block

.notice-desc
  background-color: $accent-blue
  color: #fff
  line-height: 24px
  padding: 30px 25px
  .title
    font-size: 24px
    margin-bottom: 10px

.notice-img
  padding-left: 0
  padding-right: 10px
  iframe
    width: 100%
    height: 100%
  .ytp-title
      display: none!important

.notice-item
  margin-bottom: 20px

.images-block
  margin: 25px 0

.btn
  display: inline-block
  color: #fff
  text-transform: uppercase
  text-align: center
  background-color: $light-red
  border: none
  +mt(.3s)
  &:hover
    background-color: darken($light-red, 5%)

form
  position: relative
  label
    position: relative
    display: block
    width: 100%
  input, textarea
    width: 100%
    color: #afaeae
    font-size: 24px
    border: 1px solid #afaeae
  textarea
    resize: none
    height: 224px
    padding: 10px
  input
    margin-bottom: 30px
    padding: 10px 30px
  .btn-form
    width: 100%
    font-size: 24px
    line-height: 1
    padding: 16px
    &.inactive
      filter: grayscale(.6)
      &:hover
        background-color: $light-red
  .help-block
    color: $accent-red
    position: absolute
    top: -20px
    font-size: 12px


form.popup-form
  max-width: 600px
  min-width: 320px
  display: block
  margin: 0 auto
  padding: 40px 30px 30px 30px
  border: 5px solid $accent-blue
  background-color: #fff
  textarea
    margin-bottom: 25px
  .mfp-close
    font-size: 40px
    color: $accent-blue
    right: -5px
    top: -5px

.form-title
  font-size: 20px
  text-transform: uppercase
  color: $accent-blue
  text-align: center
  margin-bottom: 25px
  span
    font-size: 24px
    display: inline-block
    margin-bottom: 10px

.side-wrap
  +bg()
  padding: 27px 0
  color: #fff
  h1
    font-weight: 300
    color: #fff
    margin-bottom: 15px
    padding: 0 33px
  .tab-list
    padding: 0 33px
    li
      font-family: "PFDinTextPro", sans-serif
      font-size: 14px
      line-height: 16px
      padding: 8px 0
      position: relative
      border-bottom: 1px solid #fff
      +mt(.3s)
      &:before
        content: ''
        position: absolute
        width: 21px
        height: 27px
        background-color: $light-red
        left: -33px
        top: 8px
        display: none
        +mt(.3s)
      &.active
        &:before
          display: block

//popup-zoom-in
.popup-zoom-in
  .zoom-anim-dialog, #callback
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready #callback
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing #callback
    transform: scale(0.5)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.8s ease-out
  &.mfp-ready.mfp-bg
    opacity: .6
  &.mfp-removing.mfp-bg
    opacity: 0
//end popup-zoom-in


.preloader
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 999
  background: url("../img/preloader.gif") no-repeat center center #fff
  background-size: 100px 100px
