@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)

  .grid-item
    h3
      font-size: 14px
      line-height: 1.4
    &:nth-child(1), &:nth-child(2)
      padding: 15px 10px
      h2
        font-size: 24px
      p
        font-size: 14px
    &:nth-child(2)
      padding: 25px 30px


  .main-mnu
    padding-left: 180px
    >ul>li
      margin-left: 10px
      margin-right: 14px
      font-size: 14px
      &:after
        right: -16px
        top: 1px

  .main-mnu>ul>li>ul
    width: 487px


/* Medium Devices, Desktops */
@media only screen and (max-width : 959px)

  .useful-item.toggle
    .col-sm-10
      width: 375px!important

  .info-controls
    padding-left: 30px
    padding-right: 30px
    li
      font-size: 16px

  .adv-item
    margin-bottom: 50px

  .adv-stat
    canvas
      left: calc(50% - 120px)

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  form
    textarea
      margin-bottom: 30px

  .useful-item.toggle
    .col-sm-10
      width: 100%!important
      .useful-img
        height: 260px

  .useful-img
    height: 260px

  .row
    margin-left: 0!important
    margin-right: 0!important

  .redline-item
    a
      font-size: 24px

  .s-redline
    .col-xs-10
      padding-left: 0
    .col-xs-14
      padding-right: 0


  .notice-item
    &:first-child
      margin-bottom: 0

  .s-block
    margin-top: 80px
    //h1, h2, p
      margin-left: 10px
      margin-right: 10px
  .notice-desc
    p
      margin-left: 0
      margin-right: 0

  .notice-img
    padding-right: 0
    height: 300px

  .images-item
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0

  .dev-block
    width: 100%
    text-align: center
    bottom: 3px
    right: 0

  .foot-item
    text-align: center
    margin-bottom: 25px
    &:nth-child(2)
      padding-left: 0
  .foot-email, .foot-tel
    margin-left: 0
    margin-bottom: 10px
    padding-left: 0
    &:before
      display: none
  .foot-youlink
    float: none
    text-align: center
    margin-top: 0

  .s-intro
    margin-top: 100px

  .mnu-line
    height: 50px

  .container
    padding-left: 0
    padding-right: 0

  .head-contacts
    float: none
    position: absolute
    display: block
    width: 100%
    text-align: center


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .feedback-wrap
    padding-left: 10px
    padding-right: 10px

  .feed-slider
    margin-bottom: 90px
    .slick-next, .slick-prev
      bottom: -60px
      width: 15px
      height: 30px
    .slick-prev
      left: 35%
    .slick-next
      right: 35%


  h3
    font-size: 24px
  .contacts-wrap
    padding: 10px
    p
      font-size: 16px
      line-height: 1.6
      span
        font-size: 18px
  form
    margin-left: -5px
    margin-right: -5px
    input, textarea, .btn-form
      font-size: 16px
      padding-left: 10px
      padding-right: 10px
      margin-bottom: 15px
    &.popup-form
      padding: 40px 10px 10px
      textarea
        margin-bottom: 15px
        height: 160px

  .useful-item.toggle
    .col-sm-10
      .useful-img
        height: 200px

  .useful-img
    height: 200px

  .redline-item
    a
      font-size: 15px
      padding: 15px 10px
      &:after
        width: 30px
        height: 30px
        top: calc(50% - 15px)
        right: 10px

  .notice-desc
    padding: 20px 10px

  h1
    font-size: 24px
  h2
    font-size: 20px

  .intro-slider, .objects-slider
    .slick-next, .slick-prev
      height: 60px
      width: 32px
      top: calc(50% - 30px)
      background-size: 12px 20px

  .obj-slide
    height: 150px

  .info-controls
    display: block
    li
      left: 20px
    li.active
      border-color: transparent
      &:before
        display: block


  .grid-item
    width: 100%!important
    height: 205px!important
    h3
      left: 85px
      bottom: 20px!important
    .grid-item-icon
      width: 68px!important
      height: 68px!important
      line-height: 68px!important
      bottom: 68px
      img
        width: 52px
        height: 52px
    &:nth-child(2)
      text-align: center
  .grid-about
    height: auto!important

  .intro-slider
    .intro-content
      width: 100%
      padding-left: 15px
    .intro-title
      font-size: 48px
      text-align: center
      &:after
        top: 6px
        height: 38px

  .moto
    font-size: 12px
    position: relative
    top: -6px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

