@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)

  .grid-item
    h3
      font-size: 14px
      line-height: 1.4
    &:nth-child(1), &:nth-child(2)
      padding: 15px 10px
      h2
        font-size: 24px
      p
        font-size: 14px
    &:nth-child(2)
      padding: 25px 30px


  .main-mnu
    padding-left: 180px
    >ul>li
      margin-left: 10px
      margin-right: 14px
      font-size: 14px
      &:after
        right: -16px
        top: 1px

  .main-mnu>ul>li>ul
    width: 487px


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .s-intro
    margin-top: 100px

  .mnu-line
    height: 50px

  .container
    padding-left: 0
    padding-right: 0

  .head-contacts
    float: none
    position: absolute
    display: block
    width: 100%
    text-align: center


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .grid-item
    width: 100%!important
    height: 205px!important
    h3
      left: 85px
      bottom: 20px!important
    .grid-item-icon
      width: 68px!important
      height: 68px!important
      line-height: 68px!important
      bottom: 68px
      img
        width: 52px
        height: 52px
    &:nth-child(2)
      text-align: center
  .grid-about
    height: auto!important

  .intro-slider
    .intro-content
      width: 100%
      padding-left: 15px
    .intro-title
      font-size: 48px
      text-align: center
      &:after
        top: 6px
        height: 38px

  .moto
    font-size: 12px
    position: relative
    top: -6px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

